body {background-color: black;
color: white;
}
#header {background-color: black;
color: white;
}

#mission {background-image: url('images/img-mission-background.jpg';)}

#news
#contact {height: 200px;
}
